/.vscode
/assets/.idea
/public/hot
/public/storage
/storage
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/core/node_modules
/core/public/hot
/core/public/storage
/core/storage
/core/.env
/core/.env.backup
/core/.phpunit.result.cache
/core/Homestead.json
/core/Homestead.yaml
/core/npm-debug.log
/core/yarn-error.log
/core/.idea
/core/*.zip

